form, div #Location,
div #distance{
  padding: 5px;
}

div#map{
  margin:5px;
  width: 400px;
  height: 400px;
  border: 1px solid black;
}

body {
background-color: #efe5d0;
border-color:black;
border-width: thin;
border: 3px;
border-style:solid;
width:900px;
padding-right: 100px;
padding-left:100px;
padding-bottom:100px;
margin-left:100px;

line-height:1;
float:center;
font-size: 20px;
text-align: center;

}